/* WHITE: #FFFFFF */
/* LIGHTGRAY: #DFE3E8 */
/* BLUE: #6D99C5 */
/* DARKBLUE: #00303D */
/* ORANGE: #FF9933 */

html, body {
    background-color: #DFE3E8;
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0.5em;
}

.component {
    border: 1pt solid #DFE3E8;
    border-radius: 0.5em;
    display: inline-block;
    margin: 0.5em;
    min-width: 20em;
    overflow: hidden;
}

.title {
    background-color: #6D99C5;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
}

.content {
    background-color: #FFFFFF;
    color: #00303D;
    padding: 0.5em;
}

.content:empty {
    padding: 0;
}
